/*font-family: 'Athiti', sans-serif;
font-family: 'Baloo Paaji 2', cursive;
font-family: 'Big Shoulders Stencil Display', cursive;*/

/*--------HEADER------------*/

a {
    text-decoration: none;
  }
  
  nav {
    font-family: 'Athiti', sans-serif;
    
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: white;
  }
  
  li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 1s;
    background-color: white;
  }
    
  li a {
    color: #7A6C5D;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Athiti', sans-serif;
  }

  li a:hover {
    color: #C17C74;
  }
  
  li:hover,
  li:focus-within {
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;   
  }
  
  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 1s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }



/*--------------------------*/



.header {
    background-color: white;
    border-bottom: 2px solid grey;
    width: 100%;
    height: 80px;
}

.contenedor-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-modelos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: red solid 1px;
    width: 20%;
}

.modelos {
    display: block;
    border: red solid 1px;
}

.centro {
    display: block;
    width: 50%;
    height: 100 hw;
    border: red solid 1px;

}

.footer {
    background-color: black;
    width: 100%;
    height: 80px;
}